@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap'); 
* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  
}
body{
  text-align: center;
  background-color: white;
}



  .cell-bottom {
    float: left;
border-left: 30px solid #e6e6e6;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
  }

  .cell-top {
    float: left;
border-right: 30px solid #e6e6e6;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;

  }

  .cell-center {
  float: left;
  width: 60px;
  height: 104px;
  background-color: #e6e6e6;
  }

 

.hex {
  float: left;
  margin-right: -26px;
  margin-bottom: -50px;
}

.hex.odd {
  padding-top: 53px;
}

.game-wrapper {
  width: 300px;
}

.center .cell-center {
  background-color: #f8cd04;
}

.center .cell-top {
  border-right: 30px solid #f8cd04;
}

.center .cell-bottom {
  border-left: 30px solid #f8cd04;
}
.special {
  padding-left: 93.5px;
}

h5 {
  text-align: center;
  font-size: 21px;
}

.left-container {
  margin: 50px 50px auto 100px;
  
}

.right-container {
  margin: auto;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  height: 300px;
  padding: 20px;
  
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 70px;
}

.game-container {
  width: 500px;
  margin: 30px auto auto 180px;
}
input {
  outline: 0;
  border-width: 0 0 .5px 0;
  border-color: #e6e6e6;
  font-size: 14px;
  margin: 0px auto auto auto;
  text-align: center;
}
#wordField {
  outline: 0;
  border-width: 0 0 .5px 0;
  border-color: #e6e6e6;
  font-size: 30px;
  margin: 0px auto auto auto;
  text-align: center;
}

#alert{
  color: white;
  width: 120px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.white{
  background-color: white;
}

.black{
  background-color: black;
}

.yellow{
  background-color: #f8cd04;
}

.correct{
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  width: 90px;
  margin: 10px;
}

.word-container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.Red {
  color: red
}

.Orange {
  color: orange
}

.Green {
  color: green
}

.Blue {
  color: blue
}

.Purple {
  color: purple
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: #f8cd04;
  cursor: pointer;
}

.messageContainer {
  width: 400px;
  border: .5px solid black;
  min-height: 200px;
  bottom: 0;
  position: fixed;
  right: 0;
  margin-bottom: 50px;
  background-color: white;
  z-index: 1;
  max-height: 500px;
  overflow: auto;
}

.innerMessages {
  margin-bottom: 70px;
}

.message {
 color: grey;
 text-align: left;
 width: 200px;
 margin: auto 20px;
}

.message > p {
  background-color: rgb(34, 34, 58);
  color: white;
  border-radius: 50px;
  padding: 10px;
  max-width: 200px;
}

.my-message {
  color: grey;
  text-align: right;
  width: 300px; 
  margin-left: 80px;
 }
 
 .my-message > p {
   color: white;
   border-radius: 50px;
   padding: 10px;
   max-width: 200px;
   margin-left: 120px;
   width: auto;
   text-align: left;
 }

 #new-message-form {
   width: 400px;
   font-size: 24px;
   outline: .5px;
  border-width: .5px;
  border-top: .5px solid black ;
  padding: 10px 20px 5px 20px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  background-color: white;
 }

 #new-message-form > input {
   font-size: 24px;
   border-width: 0;
 }

 .Red.message > p {
  background-color: red
}

.Orange.message > p {
  background-color: orange
}

.Green.message > p {
  background-color: green
}

.Blue.message > p {
  background-color: blue
}

.Purple.message > p{
  background-color: purple
}

nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  margin: 0px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  
  
}

nav.top {
justify-content: space-around;
background-color: #e6e6e6;
top: 0;
align-items: center;
height: 70px;

}

nav.bottom {
  bottom: 0;
  background-color: #333;
  color: white;
  justify-content: flex-end;
  height: 50px;
}

button {
  font-size: 14px;
}

nav.bottom > button {
  width: 400px;
  right: 0;
  border: 0;
  background-color: #f8cd04;
  color: #333;
  font-size: 20px;
}

nav.top button {
  height: 30px;
}

.team {
  top: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  background-color: white;
  margin: 70px auto auto auto;
  border: .5px solid black;
  width: 300px;
  text-align: center;
}


.loader {
  height: 30px;
  width: 100%;
  background-color: #888;
  border-radius: 5px;
  margin: 20px 30px 0px 30px
}
.loader-bar {
  background-color: #58b647;
  height: 30px;
  border-radius: 5px;
  transition: width 0.5s;
}

.home {
  margin: 50px;
  padding: 70px 60px;
  background-color: #f8cd04;
  border-radius: 5px;
  border: 2px solid black;
}

.home button {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 30px 10px 10px 10px;
  border-width: 0px;
  min-width: 140px;
}

#nylogo {
  width: 100px;
}

.header {
  margin-top: 20px;
}

.userLogin {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.userLogin input {
  margin: 20px auto;
  height: 50px;
  width: 250px;
}

.userLogin button {
  width: 200px;
  margin: 20px auto;
}

.userLogin select {
  width: 200px;
  margin: 20px auto;
}

.allGames {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}

.oneGame {
  margin: 30px;
  background-color: #f8cd04;
  padding: 20px;
  min-width: 300px;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  
}

.oneGame a {
  text-decoration: none;
  color: black;
}

.oneGame h1 {
  text-decoration: underline;
}