*,
html {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

.app {
  flex-direction: column;
  height: 100%;
  background-color: #03254c;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app h1 {
  text-align: center;
}

.app img {
  width: 250px;
  height: 250px;
}
